@import "tailwindcss" theme(static);
@import "@bitrix24/b24ui-nuxt";

/**
 * Custom bg
 */
@layer base {
  .light, :root {
    --air-theme-bg-color: #fff;
    dddd--air-theme-bg-color: #eef2f4;
    --ui-btn-background-hover: #162345;
  }

  /*@todo: after UI update fix*/
  [data-platform="bitrix-mobile"].light {
    --air-theme-bg-color: #ffffff;
    --ui-btn-background-hover: #162345;
  }

  .dark {
    --air-theme-bg-color: #000000;
  }

  /*@todo: after UI update fix*/
  [data-platform="bitrix-mobile"].dark {
    --air-theme-bg-color: #111111;
  }

  .edge-dark {
    --air-theme-bg-image: url(../bg/astronomical-watercolor.jpg);
    --air-theme-bg-image-blurred: url(../bg/astronomical-watercolor.jpg);
    --air-theme-bg-position: 0 0;
    --air-theme-bg-size: cover;
    --air-theme-bg-repeat: no-repeat;
    --air-theme-bg-attachment: fixed;
    --air-theme-bg-color: #325ab3;
  }
}

/*@todo: after UI update fix*/
body {
  color: initial !important;
}

/*@todo: after UI update fix*/
.light .menu-item-vertical {
  --menu-item-background-active: var(--ui-color-design-filled-bg);
  --menu-item-color-active: var(--ui-color-base-white-fixed);
}

.light .menu-item-vertical-active {
  --menu-item-background: var(--ui-color-design-filled-bg);
  --menu-item-color: var(--ui-color-base-white-fixed);
}


