@import "tailwindcss" theme(static);
@import "@bitrix24/b24ui-nuxt";

/**
 * Custom bg
 */
@layer base {
  .light, :root {
    --air-theme-bg-color: #eef2f4;
    --ui-btn-background-hover: #162345;
  }

  .dark {
    --air-theme-bg-color: #000000;
  }
}

/*@todo: after UI update fix*/
.menu-item-vertical {
  --menu-item-background-active: var(--ui-color-design-filled-bg);
  --menu-item-color-active: var(--ui-color-base-white-fixed);
}

.menu-item-vertical-active {
  --menu-item-background: var(--ui-color-design-filled-bg);
  --menu-item-color: var(--ui-color-base-white-fixed);

}


